---
layout: page
title: Tags
description: Tag list from the blog
permalink: /tags/
---

<div class="tag-list">
  {% assign tags_list = site.tags %}
  <ul>
    {% if tags_list.first[0] == null %}
      {% for tag in tags_list %}
        <li>
          <a href="/tags#{{ tag | slugify }}-ref" class='list-group-item'>{{ tag | capitalize }}</a>
          <span class="badge-quantidade">{{ site.tags[tag].size }}</span>
        </li>
      {% endfor %}
    {% else %}
      {% for tag in tags_list %}
        <li>
          <a href="/tags#{{ tag[0] | slugify }}-ref" class='list-group-item'>{{ tag[0] | capitalize }}</a>
          <span class='badge-quantidade'>{{ tag[1].size }}</span>
        </li>
      {% endfor %}
    {% endif %}
  </ul>
  {% assign tags_list = nil %}
</div>

<ul class="collapsible" data-collapsible="accordion">
  {% for tag in site.tags %}
    <li>
      <div class="collapsible-header">
        {{ tag[0] | capitalize }}
      </div>
      <div class="collapsible-body">
        {% assign pages_list = tag[1] %}
        <p>
          {% for node in pages_list %}
            {% if node.title != null %}
              {% if group == null or group == node.group %}
                {% if page.url == node.url %}
                  <a href="{{node.url}}">{{node.title}}</a>
                  {% else %}
                  <a href="{{node.url}}">{{node.title}}</a>
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </p>
      </div>
    </li>
    {% assign pages_list = nil %}
    {% assign group = nil %}
  {% endfor %}
</ul>
