
    <footer class="site-footer">
      <div class="social">
          <div class="content">
            <a href="https://plus.google.com/u/0/+JeremiasPereira/about" target="_brank" title="Google +"> <i class="fa fa-google-plus"></i></a>
            <a href="https://twitter.com/jeremiastpe" target="_brank" title="Twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://www.flickr.com/photos/jeremiaspereira" target="_brank" title="Flickr"><i class="fa fa-flickr"></i></a>
            <a href="https://br.linkedin.com/in/jeremiaspereira" target="_brank" title="Linkedin"><i class="fa fa-linkedin"></i></a>
            <a href="https://instagram.com/jeremias_pereira/" target="_brank" title="Instagram"><i class="fa fa-instagram"></i></a>
            <a href="https://github.com/jeremiaspereira/" target="_brank" title="GitHub"><i class="fa fa-github"></i></a>
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_brank" title="RSS"><i class="fa fa-rss"></i></a>
          </div>
        </div>
    </footer>
