
@charset "utf-8";

$background-header: #01E1B6;

$google-plus: #D34331;
$twitter: #1B86BC;
$flickr: #FF0085;
$linkedin: #1B86BC;
$instagram: #A5664D;
$github: #888888;
$facebook: #43609C;


